<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">
</head>

<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="container">
    	<table class="table table-striped">
    		<tr>
    			<th>Id</th>
    			<th>Sales Details</th>
    			<th>Total</th>
    		</tr>
    	
    		<tr th:each="cart : ${carts}">
    			<td th:text="${cart.id}"></td>
		        <td th:text="${cart.products}"></td>
		        <td th:text="${cart.total}"></td>
    		</tr>
    	
    	</table>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>